@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --secondary-background-color: #F5F4FA;
  --primary-background-color: #F5F5F5;
  --accent-background-color: #2F303A;
  --primary-black-color: #000000;
  --header-border: #ECECEC;
  --primary-icon-color: #AFB1B8;
  /* Змінні анімації */
  --primary-animation-time: 250ms;
  --primary-animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.hero, .header__container {
  margin-left: auto;
  margin-right: auto;
  outline: 2px dashed red;
}
@media (max-width: 767px) {
  .hero, .header__container {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .hero, .header__container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .hero, .header__container {
    width: 1200px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-colorr);
  color: var(--primary-text-color);
}

.btn {
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  border: 0px;
}

/* 
=====================
Збиваєм відступи h,p,img,list
=====================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15;
  margin: 0;
  list-style: none;
  background-color: var(--primary-white-color);
}

.menu-container.is-open {
  width: 100%;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu {
  height: 100%;
}

.mobile-menu__wrappew-bottom {
  margin-top: auto;
  width: 100%;
}

.mobile-menu__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-container {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--primary-white-color);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms var(--primary-animation-function);
  transition: -webkit-transform 250ms var(--primary-animation-function);
  transition: transform 250ms var(--primary-animation-function);
  transition: transform 250ms var(--primary-animation-function), -webkit-transform 250ms var(--primary-animation-function);
}

.header_btn {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.header_btn {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.mobile-menu__phone {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.header {
  background-color: var(--primary-white-color);
}

.header__container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_btn {
  margin-left: auto;
}
@media (min-width: 768px) {
  .header_btn {
    display: none;
  }
}

.header__menu-icon {
  margin-left: auto;
  fill: var(--title-text-color);
}
.header_btn:hover .header__menu-icon, .header_btn:focus .header__menu-icon {
  fill: var(--accent-color);
}

.hero__btn {
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.nav__item {
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.nav__item:last-child {
  padding-bottom: 32px;
}

.nav__item--current-page {
  color: var(--accent-color);
}

.nav__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--primary-black-color);
}
.nav__logo--accent {
  color: var(--accent-color);
}

/* 
==============
Стилі для електронки та телефону із хедеру
==============
*/
/* 
===================
Підвал
===================
 */
.mobile-menu__socials-list {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu__socials-item {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-menu__socials-item:not(:last-child)::after {
  content: " ";
  margin-left: 10px;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  position: absolute;
  right: -10px;
  width: 1px;
  height: 100%;
}

/*
============
Socials for footer
============
*/
/* 
======================
	Форма в футері
======================
*/
/* 
==============
Стилі для герой 
==============
*/
.hero {
  padding: 118px 0;
  height: 400px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/image-480.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/image-480.jpg");
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* 
==============
Стилі для наших переваг
==============
*/
/* 
==============
Чим ми займаймось
==============
*/
/* 
==============
Наша команда
==============
*/
/* 
==============
	Стилі для групи постійних клієнтів
==============
*/
/* 
==============
Стилі для основної частини портфоліо
==============
// */
/* 
	==================
	Modal window
	================== 
*/
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: var(--primary-animation-time);
          transition-duration: var(--primary-animation-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  width: 450px;
  height: 609px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */