@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --secondary-background-color: #F5F4FA;
  --primary-background-color: #F5F5F5;
  --accent-background-color: #2F303A;
  --primary-black-color: #000000;
  --header-border: #ECECEC;
  --primary-icon-color: #AFB1B8;
  /* Змінні анімації */
  --primary-animation-time: 250ms;
  --primary-animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.works__container, .clients__container, .team__container, .activity__container, .advantages__container, .hero, .footer__container, .header__container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 767px) {
  .works__container, .clients__container, .team__container, .activity__container, .advantages__container, .hero, .footer__container, .header__container {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .works__container, .clients__container, .team__container, .activity__container, .advantages__container, .hero, .footer__container, .header__container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .works__container, .clients__container, .team__container, .activity__container, .advantages__container, .hero, .footer__container, .header__container {
    width: 1200px;
  }
}

.footer-form__btn, .modal__submit, .hero__btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .clients__title, .team__title, .activity__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1785714286;
    text-align: center;
    color: var(--title-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .clients__title, .team__title, .activity__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-colorr);
  color: var(--primary-text-color);
}

.btn {
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  border: 0px;
}

/* 
=====================
Збиваєм відступи h,p,img,list
=====================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15;
  margin: 0;
  margin-left: 87px;
  list-style: none;
  background-color: var(--primary-white-color);
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-container.is-open {
  width: 100%;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu {
  height: 100%;
}

.mobile-menu__wrappew-bottom {
  margin-top: auto;
  width: 100%;
}

.mobile-menu__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-container {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--primary-white-color);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms var(--primary-animation-function);
  transition: -webkit-transform 250ms var(--primary-animation-function);
  transition: transform 250ms var(--primary-animation-function);
  transition: transform 250ms var(--primary-animation-function), -webkit-transform 250ms var(--primary-animation-function);
}

.header_btn {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.header_btn {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.mobile-menu__phone {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}

.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ECECEC;
  margin-bottom: -1px;
}

.header__container {
  position: relative;
  padding: 0 15px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    height: 80px;
  }
}

.header_btn {
  margin-left: auto;
}
@media (min-width: 768px) {
  .header_btn {
    display: none;
  }
}

.header__menu-icon {
  margin-left: auto;
  fill: var(--title-text-color);
  -webkit-transition: opacity var(--primary-animation-time) var(--primary-animation-function);
  transition: opacity var(--primary-animation-time) var(--primary-animation-function);
}
.header_btn:hover .header__menu-icon, .header_btn:focus .header__menu-icon {
  fill: var(--accent-color);
}

/* 
===================
Підвал
===================
 */
.footer {
  background-color: var(--accent-background-color);
}

.footer__container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 165px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    gap: 70px;
    text-align: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-right: 93px;
  }
}

.modal__submit {
  display: block;
  margin: 0 auto;
}

.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.footer-form__icon {
  margin-left: 12px;
  fill: var(--primary-white-color);
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__btn:hover .modal__close, .modal__btn:focus .modal__close {
  fill: var(--accent-color);
}

.modal__close {
  -webkit-transition: color var(--primary-animation-time) var(--primary-animation-function);
  transition: color var(--primary-animation-time) var(--primary-animation-function);
  fill: var(--primary-black-color);
}

.filter__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  -webkit-transition: color var(--primary-animation-time) var(--primary-animation-function);
  transition: color var(--primary-animation-time) var(--primary-animation-function);
  -webkit-transition: background-color var(--primary-animation-time) var(--primary-animation-function);
  transition: background-color var(--primary-animation-time) var(--primary-animation-function);
}
.filter__btn:focus, .filter__btn:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .header__link-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__link-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .header__link {
    font-size: 14px;
    line-height: 1.1428571429;
    -webkit-transition: color 250ms var(--primary-animation-function), fill 250ms var(--primary-animation-function);
    transition: color 250ms var(--primary-animation-function), fill 250ms var(--primary-animation-function);
  }
  .header__link:hover, .header__link:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
}

.header__icon {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav__list {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-right: 315px;
  }
}

.nav__item {
  color: var(--title-text-color);
}
@media screen and (max-width: 767px) {
  .nav__item {
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .nav__item {
    position: relative;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__item--current-page {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav__item--current-page::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--primary-animation-function);
  transition: color 250ms var(--primary-animation-function);
}
.nav__link:focus, .nav__link:hover {
  color: var(--accent-color);
}

.nav__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--primary-black-color);
}
.nav__logo--accent {
  color: var(--accent-color);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.address__list {
  list-style: none;
  font-style: normal;
}
@media screen and (max-width: 767px) {
  .address__list {
    margin-bottom: 60px;
  }
}

.address__item {
  color: rgba(255, 255, 255, 0.6);
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: var(--primary-white-color);
}

.mobile-menu__socials-list {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-menu__socials-item {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-menu__socials-item:not(:last-child)::after {
  content: " ";
  margin-left: 10px;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  position: absolute;
  right: -10px;
  width: 1px;
  height: 100%;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: var(--primary-icon-color);
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  fill: currentColor;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition-property: color var(--primary-animation-time) var(--primary-animation-function);
  transition-property: color var(--primary-animation-time) var(--primary-animation-function);
  -webkit-transition: background-color var(--primary-animation-time) var(--primary-animation-function);
  transition: background-color var(--primary-animation-time) var(--primary-animation-function);
}
@media screen and (min-width: 1200px) {
  .social__link:focus-visible {
    outline: none;
  }
  .social__link:hover, .social__link:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}

.social__icon {
  fill: currentColor;
}

.footer__item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}

.social {
  padding-top: 12px;
}

.social__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.form__label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__wrapper {
  position: relative;
  margin-bottom: 10px;
}

.form__field {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: outline var(--primary-animation-time) var(--primary-animation-function);
  transition: outline var(--primary-animation-time) var(--primary-animation-function);
}
.form__field:focus {
  outline: 1px solid var(--accent-color);
}
.form__field:focus + .form__icon {
  fill: var(--accent-color);
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--primary-black-color);
  -webkit-transition: fill var(--primary-animation-time) var(--primary-animation-function);
  transition: fill var(--primary-animation-time) var(--primary-animation-function);
}

.form__message {
  display: block;
  padding: 12px 16px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: outline var(--primary-animation-time) var(--primary-animation-function);
  transition: outline var(--primary-animation-time) var(--primary-animation-function);
}
.form__message::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__message::-moz-placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__message:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__message::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__message::placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__message:focus {
  outline: 1px solid var(--accent-color);
}

.form__agreement {
  margin-bottom: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox__wrapper {
  position: relative;
}

.form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  -webkit-transition: background-color var(--primary-animation-time) var(--primary-animation-function), border-color var(--primary-animation-time) var(--primary-animation-function);
  transition: background-color var(--primary-animation-time) var(--primary-animation-function), border-color var(--primary-animation-time) var(--primary-animation-function);
}
.form__checkbox:checked ~ .form__agreement-icon {
  opacity: 1;
}
.form__checkbox:checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.form__agreement-icon {
  position: absolute;
  top: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 3px;
  fill: var(--primary-white-color);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity var(--primary-animation-time) var(--primary-animation-function);
  transition: opacity var(--primary-animation-time) var(--primary-animation-function);
}

.form__agreement-desc {
  font-size: 12px;
  line-height: 1.1666666667;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .form__agreement-desc {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.form__agreement-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

/* 
======================
	Форма в футері
======================
*/
.footer-form {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    padding-top: 12px;
  }
}

.footer-form__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16/14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .footer-form__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }
}

.footer-form__field {
  height: 50px;
  width: 100%;
  padding: 15px;
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (max-width: 1199px) {
  .footer-form__field {
    margin-bottom: 20px;
  }
}
.footer-form__field::-webkit-input-placeholder {
  font-size: 16;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__field::-moz-placeholder {
  font-size: 16;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__field:-ms-input-placeholder {
  font-size: 16;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__field::-ms-input-placeholder {
  font-size: 16;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__field::placeholder {
  font-size: 16;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .footer-form__field {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__field {
    width: 358px;
  }
}

/* 
==============
Стилі для герой 
==============
*/
.hero {
  padding-right: 0;
  padding-left: 0;
  padding: 118px 0;
  height: 400px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/image-480.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/image-480.jpg");
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/image-960.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/image-960.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/image-t-768.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/image-t-768.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/image-t-1536.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/image-t-1536.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 100%;
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/image-d-1600.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/image-d-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/image-d-3200.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/image-d-3200.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

/* 
==============
Стилі для наших переваг
==============
*/
.advantages {
  background-color: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.advantages__icon {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  background-color: var(--primary-background-color);
  border-radius: 4px;
}

.advantages__item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--title-text-color);
}
@media screen and (max-width: 767px) {
  .advantages__item-title {
    text-align: center;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 1.7142857143;
}
.advantages__text:not(:last-child) {
  margin-bottom: 30px;
}

/* 
==============
Чим ми займаймось
==============
*/
.activity__container {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .activity__container {
    display: none;
  }
}

.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.activity__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.activity__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

/* 
==============
Наша команда
==============
*/
.team {
  background-color: var(--secondary-background-color);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  text-align: center;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  color: var(--primary-icon-color);
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.team__desc {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__desc {
    padding-bottom: 30px;
  }
}

.team__item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--title-text-color);
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
}

/* 
==============
	Стилі для групи постійних клієнтів
==============
*/
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  height: 92px;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  color: var(--primary-icon-color);
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__company {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  text-decoration: none;
  color: inherit;
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: var(--primary-animation-time);
          transition-duration: var(--primary-animation-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__company:focus-visible {
  outline: none;
}
.clients__company:hover, .clients__company:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/* 
==============
Стилі для основної частини портфоліо
==============
// */
.works__item-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .works__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.works__item {
  margin-bottom: 30px;
}
.works__item:focus .works__overlay, .works__item:hover .works__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .works__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .works__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.works__img-thumb {
  position: relative;
  overflow: hidden;
}

.works__thumb {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .works__thumb-height {
    height: 147px;
  }
}

.works__overlay {
  position: absolute;
  /* top: 100%; */
  top: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 150, 243, 0.9)), to(rgba(33, 150, 243, 0.9)));
  background-image: linear-gradient(rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--primary-animation-time);
          transition-duration: var(--primary-animation-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works__text {
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--primary-white-color);
}

.works__desc {
  font-size: 16px;
  line-height: 1.875;
}

.filter__list {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  gap: 8px;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .filter__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* 
	==================
	Modal window
	================== 
*/
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: var(--primary-animation-time);
          transition-duration: var(--primary-animation-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  width: 450px;
  max-width: 95vw;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-text-color);
}/*# sourceMappingURL=main.css.map */