// Адреси в футері

.address__list {
	list-style: none;
	font-style: normal;

	@media screen and (max-width: 767px) {
	margin-bottom: 60px;
	}
}

.address__item {
	color: rgba(255, 255, 255, 0.6);

	&:not(:last-child) {
	 margin-bottom: 8px;
	}
	@media screen and (min-width: 1200px) {
		&:not(:last-child) {
	 	margin-bottom: 9px;
		}
	}
}

.address__link {
	color: var(--primary-white-color);
}



