/* 
==============
	Стилі для групи постійних клієнтів
==============
*/
.clients__container {
	@extend %container;
}

.clients__title {
	@extend %start-d-title;
}

.clients__list {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.clients__item {
	height: 92px;
	flex-basis: calc((100% - 1*30px)/2);

	color: var(--primary-icon-color);

	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 2*30px)/3);
	}

	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 5*30px)/6);
	}
}

.clients__company {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid var(--primary-icon-color);
	border-radius: 4px;

	text-decoration: none;
	color: inherit;
	transition-property: border-color, color;
	transition-duration: var(--primary-animation-time);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:focus-visible {
		outline: none;
	}

	&:hover,
	&:focus {
		color: var(--accent-color);
		border-color: var(--accent-color);
	}
}

.clients__icon {
	fill: currentColor;
}


