/* 
======================
	Форма в футері
======================
*/

.footer-mail {
	margin-left: 93px;
	margin-top: 12px;
}

.footer-mail-group {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-mail-text {
	margin-bottom: 23px;

	font-weight: 700;
	font-size: 14px;
	line-height: 16/14;
	text-transform: uppercase;

	color: var(--primary-white-color);
}

.footer-mail-field {
	height: 50px;
	width: 358px;
	padding: 15px;
	margin-right: 12px;

	color: var(--primary-white-color);

	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: transparent;
	border-radius: 4px;

	&::placeholder {
		font-size: 16px;
		line-height: 1.25;

		color: rgba(255, 255, 255, 0.6);
	}
}

// Form in modal window

.modal-title {
	margin-bottom: 12px;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;

	color: var(--title-text-color);
}

.modal-form-label {
	display: block;

	margin-bottom: 5px;

	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
}

.modal-form-wrapper {
	position: relative;
	margin-bottom: 10px;
}

.modal-form-field {
	padding-left: 42px;

	width: 100%;
	height: 40px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: outline var(--primary-animation-time) var(--primary-animation-function);

	&:focus {
		outline: 1px solid var(--accent-color);
	}

	&:focus+.modal-form-icon {
		fill: var(--accent-color);
	}
}

.modal-form-icon {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);

	fill: var(--primary-black-color);

	transition: fill var(--primary-animation-time) var(--primary-animation-function);
}

.modal-form-message {
	display: block;
	padding: 12px 16px;
	width: 100%;
	margin-bottom: 20px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	resize: none;
	transition: outline var(--primary-animation-time) var(--primary-animation-function);

	&::placeholder {
		font-size: 12px;
		line-height: 1.16;
		letter-spacing: 0.01em;

		color: rgba(117, 117, 117, 0.5);
	}

	&:focus {
		outline: 1px solid var(--accent-color);
	}
}

.modal-form-agreement {
	margin-bottom: 30px;

	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 9px;

	user-select: none;
}

.modal-form-checkbox {
	appearance: none;
	width: 16px;
	height: 15px;

	outline: 2px solid transparent;
	outline-offset: -2px;
	border: 2px solid var(--title-text-color);
	border-radius: 2px;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	
	&:checked~.modal-form-agreement-icon {
		opacity: 1;
	}

	&:checked {
		background-color: var(--accent-color);
		border-color: var(--accent-color);
	}
}

.modal-form-agreement-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 22px;

	fill: var(--primary-white-color);
	opacity: 0;

	transition: opacity var(--primary-animation-time) var(--primary-animation-function);
}

.modal-form-agreement-desc {
	font-size: 14px;
	line-height: 1.71;

	color: var(--primary-text-color);
}

.modal-form-agreement-link {
	text-decoration-line: underline;

	color: var(--accent-color);
}