/* 
==============
Стилі для основної частини портфоліо
==============
// */

.works__container {
	@extend %container;
}

.works__item-title {
	margin-bottom: 4px;

	font-weight: 700;
	font-size: 18px;
	line-height: calc(36 / 18);

	letter-spacing: 0.06em;

	color: var(--title-text-color);
}

.works__list {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
}

.works__item {
	margin-bottom: 30px;

	&:focus .works__overlay,
	&:hover .works__overlay{
		transform: translateY(0);
	}

	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 30px)/2);
		margin-bottom: 0;
	}
	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 2*30px)/3);
	}
}

.works__img-thumb {
	position: relative;
	overflow: hidden;
}
.works__thumb {
	padding: 20px 24px;
	border: 1px solid #EEEEEE;
	border-top: none;
}
.works__thumb-height{
		@media screen and (min-width:768px) and (max-width: 1199px) {
		height: 147px;
		}
}

.works__overlay {
	position: absolute;
	/* top: 100%; */
	top: 0;
	transform: translateY(100%);

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 63px 24px;
	width: 100%;
	height: 100%;

	background-image: linear-gradient(rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));

	transition-property: transform;
	transition-duration: var(--primary-animation-time);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works__text {
	font-size: 18px;
	line-height: calc(28 / 18);

	color: var(--primary-white-color);
}

.works__desc {
	font-size: 16px;
	line-height: calc(30 / 16);
}

.filter__list {
	margin-bottom: 40px;

	display: flex;
	flex-wrap: wrap;
	text-align: center;
	gap: 8px;
	row-gap: 15px;

	@media screen and (min-width: 768px) {
		justify-content: center;
	}
}