/* 
===================
Підвал
===================
 */

 .footer {
	background-color: var(--accent-background-color);

}
 .footer__container {
	@extend %container;

	text-align: center;

	
	@media screen and (min-width: 1200px){
		text-align: left;
		display: flex;
		padding-top: 60px;
		padding-bottom: 60px;
	}
}


.footer__contacts{
	@media screen and (min-width: 768px) {
		display: flex;
		gap: 165px;
		text-align: center;
		justify-content: center;	
	}
	@media screen and (min-width: 1200px) {
		gap: 70px;
		text-align: start;
		justify-content: start;
		margin-right: 93px;
	}
}




