/* 
===================
Підвал
===================
 */

 .footer {
	background-color: var(--accent-background-color);

}
 .footer__container {
	@extend %container;

	text-align: center;
}


.footer__contacts{

	display: flex;
	gap: 165px;
	text-align: center;
	justify-content: center;
}




