// .header {
// 	background-color: var(--primary-white-color);
// 	border-bottom: 1px solid var(--header-border);
// }

// .header-nav {
// 	display: flex;
// 	align-items: center;
// }


// New style

//for menu

.header {
	background-color: var(--primary-white-color);
	border-bottom: 1px solid #ECECEC;
	margin-bottom: -1px;
}

.header__container {
	@extend %container;
	position: relative;
	padding: 0 15px;
	height: 60px;	
	display: flex;
	align-items: center;
	// justify-content: center;

	@media screen and (min-width: 768px){
		height: 80px;
	}
}

.header_btn{
	margin-left: auto;

	@media (min-width: 768px){
		display: none;
	}
}
//end menu

.header__menu-icon {
	margin-left: auto;

	fill: var(--title-text-color);

	transition: opacity var(--primary-animation-time) var(--primary-animation-function);

	.header_btn:hover &,
	.header_btn:focus &{
		fill: var(--accent-color);
	}
}