// .header {
// 	background-color: var(--primary-white-color);
// 	border-bottom: 1px solid var(--header-border);
// }

// .header-nav {
// 	display: flex;
// 	align-items: center;
// }


// New style

//for menu

.header {
	background-color: var(--primary-white-color);
	
}

.header__container {
	@extend %container;
	position: relative;


	padding-left: 15px;
	padding-right: 15px;
	height: 60px;	
	display: flex;
	align-items: center;

}

.header_btn{
	margin-left: auto;

	@media (min-width: 768px){
		display: none;
	}
}
//end menu

.header__menu-icon {
	margin-left: auto;

	fill: var(--title-text-color);

	.header_btn:hover &,
	.header_btn:focus &{
		fill: var(--accent-color);
	}
}