//for menu

.header {
	background-color: var(--primary-white-color);
	border-bottom: 1px solid #ECECEC;
	margin-bottom: -1px;
}

.header__container {
	@extend %container;
	position: relative;
	padding: 0 15px;
	height: 60px;	
	display: flex;
	align-items: center;

	@media screen and (min-width: 768px){
		height: 80px;
	}
}
