%container {
	margin-left: auto;
	margin-right: auto;

	@media (max-width: 767px) {
		max-width: 480px;	
	}
	
	@media (min-width: 768px) {
		width: 768px;	
	}

	@media (min-width: 1200px){
		width: 1200px;	
	}

	outline: 2px dashed red;
}